{% extends "web/index.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
</head>
<body>
    
    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Appointment</h5>
                        <h1 class="display-4">Make An Appointment For Your Family with us</h1>
                    </div>
                    <p class="mb-5">You are welcome to schedule a time with our experts.</p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="{% url 'doctors' %}">Find Doctor</a>
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="{% url 'departments' %}">Find Department</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Book An Appointment</h1>
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <button class="btn btn-primary rounded-pill py-3 px-5 me-3" type="submit">Make Appointment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->

</body>
</html>
{% endblock content %}