{% extends "web/index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patients</title>
</head>
<body>
        <!-- Patients Start -->
        <div class="container-fluid py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Patients</h5>
                    <h1 class="display-4">Patients</h1>
                </div>
                <div class="owl-carousel team-carousel position-relative">
                    {% for i in patients %}
                    <div class="team-item">
                        <div class="row g-0 bg-light rounded overflow-hidden">
                            <div class="col-12 col-sm-5 h-100">
                                <img class="img-fluid h-100" src="{{ i.image.url }}" style="object-fit: cover;">
                            </div>
                            <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                                <div class="mt-auto p-4">
                                    <h3><a href="{% url '' %}">{{ i.first_name }} {{ i.last_name }}</a></h3>
                                    <h6 class="fw-normal fst-italic text-primary mb-4">{{ i.patient.get_age }} - {{ i.patient.get_gender }} - {{ i.patient.get_status }} </h6>
                                    <p class="m-0">{{ i.patient.get_health_status }}</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Patients End -->
</body>
</html>
{% endblock content %}
